@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--primary-dark-pink: #ba4270;
	--primary-medium-pink: #da6d97;
	--primary-light-pink: rgba(186, 66, 112, 0.5);
	--secondary-mirage-blue: #1b262f;
	--secondary-san-juan-blue: #36536b;
	--secondary-light-san-juan-blue: #6c8294;
	--secondary-disabled-light-grey: rgb(201, 207, 211);

	font-family: "Public Sans";
}

body {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 1);
}

header {
	padding: 40px;
	height: 30%;
	width: 100%;
}

nav {
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

ul {
	position: relative;
	width: 70%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}

#logo {
	background: center url(/assets/logo.svg);
	height: 40px;
	width: 134px;
	padding: 0;
}

.menu {
	background: center / cover url(/assets/menu.svg);
	width: 28px;
	height: 17px;
}

a {
	color: rgba(54, 83, 107, 0.75);
	font-family: "Public Sans";
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
}

a:hover {
	color: rgba(54, 83, 107, 1);
}

.button-primary-normal-state-light:hover {
	font-size: 15px;
	color: white;
	border: none;
	padding: 15px 25px;
	border-radius: 24px;
	background-color: var(--primary-medium-pink);
	font-weight: 700;
}

.phone {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.phone-image {
	position: relative;
	background: center / cover url("../assets/phone.svg");
	width: 128px;
	height: 240px;
}

h1 {
	color: #36536b;
	text-align: center;
	font-family: "DM Serif Display";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px; /* 112.5% */
	letter-spacing: -0.246px;
}

main {
	display: flex;
	flex-direction: column;
}

.first-section {
	width: 90%;
}

form {
	width: 100vw;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px 0px;
	flex-direction: column;
}

.mail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	gap: 16px 0px;
}

.field-email {
	border-radius: 100px;
	background: #fbfcfe;
	box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
	padding: 15px 25px;
	border: none;
}

.questions {
	text-align: center;
	color: #6c8294;
	font-family: "Public Sans";
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.image-marque {
	height: auto;
	width: 280px;
}

.seconde-section {
	display: grid;
	height: 100vh;
	background-color: var(--secondary-mirage-blue);
	flex-direction: column;
	align-items: center;
	grid-template-rows: 1fr, 2fr;
	gap: 45px;
	padding: 40px 24px;
}

.seconde-section-part1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30%;
}

.seconde-section-part2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	height: 70%;
}

.text-seconde-section {
	text-align: center;
}

.third-section {
	height: 300vh;
	gap: 24px 0px;
}

.third-section-part1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30%;
}

.html-page {
	width: 300px;
	height: auto;
}

.third-section-p {
	color:  rgba(108, 130, 148, 1);
	text-align: center;
	width: 75%;
	margin-top: 24px;
}

.third-section-part2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 25%;
}

.third-section-part3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60%;
}	

.third-section-part3- {

}

footer {
	height: 50vh;
	background-color: var(--secondary-mirage-blue);
}

@media screen and (min-width: 768px) {
	.menu {
		display: none;
	}

	h1 {
		font-size: 48px;
	}

	.hero {
		height: 50vh;
	}

	main {
		display: flex;
		flex-direction: row-reverse;
	}

	.mail {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.field-email {
		position: absolute;
		justify-content: start;
		width: 50%;
	}

	.button-primary-normal-state-light {
		position: relative;
	}
}

@media screen and (min-width: 1080px) {
	main {
		display: flex;
		flex-direction: column;
	}

	.desktop {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
	}

	form {
		width: 100%;
	}

	.first-section {
		width: 75%;
	}

	.seconde-section {
		grid-template-columns: repeat(2, 1fr);
		flex-direction: row-reverse;
	}
}
